html {
  font-size: 20px;
  text-align: center; /* 文字の中央揃え */
}

body{
  font-family: "Arial", "Meiryo", sans-serif;
}

.blue{
  color: skyblue;
}

.pink{
  color: rgb(255,192,203);
}

h1{
  font-size: 2em;
  font-family: "Josefin Sans", serif;
  letter-spacing: 1.2em; /* 文字間を1文字の1.2倍に設定 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 文字に影を付ける */
  border-bottom: 3px solid rgb(115, 115, 114); /* 下に3pxの実線を追加 */

}

#basic{
  font-weight: bold;
}
